.cabecalho-menu-hambuguer {
    width: 48px;
    height: 48px;
    display: inline-block;
    background-image: url(../assets/menu_black.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho {
    background-color: #0efff9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.conteiner-imagem,
.conteiner-imagem-vector,
.conteiner-imagem-vector1,
.conteiner-imagem-logo,
.conteiner-imagem-sacola {
    padding: 0.5em;
}

.conteiner-imagem-logo {
    width: 40px;
    height: 40px;
}

.conteiner-imagem-vector1 {
    width: 35.88px;
    height: 32px;
}

.conteiner-imagem-sacola {
    width: 38px;
    height: 38px;
}

.conteiner-imagem-vector {
    width: 32px;
    height: 32px;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 65vw;
}

.container-menu:checked~.lista-menu {
    display: block;
}

.lista-menu_titulo,
.lista-menu_item {
    padding: .7em;
    background-color: #0efff9;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.lista-menu_titulo {
    color: #0055c2;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

.lista-menu-link {
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-decoration: none;
    text-transform: uppercase;
}

.container-menu {
    display: none;
}

.container_titulo {
    display: none;
}

.opcoes {
    display: none;
}

.conteiner_texto {
    display: none;
}

@media screen and (min-width: 820px) {
    .container_titulo,
    .container_titulo_black {
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
    }
    .container_titulo {
        font-weight: 400;
        display: block;
        margin-left: 0.5em;
    }
    .container_titulo_black {
        font-weight: 700;
    }
    .conteiner {
        display: flex;
        align-items: center;
    }
    .opcoes {
        display: flex;
        align-items: center;
        text-align: center;
    }
    .opcoes_item {
        padding: 0 1em;
        text-transform: uppercase;
        color: #002F52;
        font-weight: 700;
    }
    .opcoes_link {
        text-decoration: none;
        color: #002F52;
        font-weight: 700;
    }
    .conteiner-imagem-vector1,
    .cabecalho-menu-hambuguer {
        display: none;
    }
    .opcoes_botoes:checked~.lista-menu {
        display: block;
        width: auto;
    }
    .opcoes_botoes {
        display: none;
    }
    .lista-menu_item:hover {
        background-color: #002F52;
    }
    .lista-menu-link:hover {
        background: #0efff9;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-decoration: none;
        text-transform: uppercase;
    }
    .conteiner_texto {
        display: none;
    }
    .conteiner-imagem-logo {
        margin-left: 4em;
    }
}

@media screen and (min-width: 1600px) {
    .container_link {
        display: flex;
        align-items: center;
        padding: 0 2em;
        text-decoration: none;
        color: black;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
    }
    .opcoes {
        margin: 6px auto 0 1em;
    }
    .conteiner_texto {
        display: block;
    }
}