.topicos {
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    text-align: center;
    padding: 1em 0;
}

.topicos_titulo {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 1em;
}

.topicos_lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos_item {
    margin: 2em 0.5em;
}

.topicos_link {
    color: #fff;
    padding: 1em;
    background-color: #ff9f2c;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

@media screen and (min-width: 820px) {
    .topicos_titulo {
        font-size: 24px;
    }
    .topicos_link {
        font-size: 24px;
    }
}